.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  height: 45px;
  line-height: 45px;
  background-color: #eb0808;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  position: relative;
}
.App-footer{
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #e8e8e8;
  display: flex;
  position: fixed;
  bottom: 0;
  background: white;
}
*{
  padding: 0;
  margin:0;
}
.App-link {
  color: #7e9691;
  width: 33.3%;
  height: 100%;
  text-decoration: none;
}
.App-active {
  color: #eb0808;
}